* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

.fixLeft {
    float: left;
}

.fixRight {
    float: right;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
body{
    font-family: SF Pro SC,SF Pro Text,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
}
